@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.map {
    background-image: url("./components/map.jpg");
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}